@media screen and (max-width: 600px) {
    
    .grid{
        width: 35%;
        min-width: 600px;
        top: 15%;
        left: 0%;
    }
    .card{
        aspect-ratio: 3/3;
        
    }
    header{
        width: 35%;
        min-width: 600px;
        top: 8%;
        left: 0%;
    }
    
    .gameOver{
        width: 100%;
        height: 100%;
    
    }
    .btn2{
        left: 30%;
        bottom: 5%;
    }
    .img{
        top: 25%;
        left: 35%;
        transform: translate(-25%, -35%);
        background-color: rgba(0, 255, 255, 0.233);
    }
}

